/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

h1 {
    color: red;
}

/* Estilos para as imagens */
.imagem-classe, .imagem-inimigo {
    margin-top: 20px;
    margin-bottom: 30px;
}

.imagem-personagem {
    width: 150px;
    height: auto;
    border-radius: 10px;
    border: 2px solid red;
}

h3 {
    color: red;
}